.place__url-heading {
  color: #AAA;
  width: 288px;
  height: 15px;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.44px;
}

@media screen and (min-width:766px) {
  .place__url-heading {
    width: 58px;
    height: 15px;
  }
}
