.place__button_text {
  color: #FFFFFF;
  font-size: 14px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  margin: auto;
} 

@media screen and (min-width:766px) {
  .place__button_text {
    font-size: 18px;
    margin: 0;
  }
}
