.intro__cite {
  width: 288px;
  font-family: "Inter";
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  margin: 0;
}

@media screen and (min-width:324px){
  .intro__cite {
    width: 720px;
    height: 136px;
    padding-top: 40px;
  }
}

@media screen and (min-width:772px){
  .intro__cite {
    width: 722px;
    height: 136px;
    /* padding-bottom: 40px; */
  }
}