.place__text {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;  
}

@media screen and (min-width:1278px) {
  .place__text {
    font-size: 18px;
    line-height: 29px;
    width: 484px;
    padding-bottom: 20px;
  }
}
