.place__paragraph {
  width: 288px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  grid-area: text;
}

@media screen and (min-width:324px){
  .place__paragraph {
    width: 352px;
    margin: 0;
  }
}

@media screen and (min-width:772px){
  .place__paragraph {
    width: 484px;
    margin: 0;
  }
}