.lead__title {
  width: 288px;
  height: 88px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 44px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 60px;
}

/* - Se le reduce 2px como reserva antes de la ruptura de pantalla - 

@media screen and (min-width: 320px)
@media screen and (min-width: 768px) - 766
@media screen and (min-width: 1280px) - 1278
*/

@media screen and (min-width:766px) {
  .lead__title {
    width: 720px;
    height: 200px;
    font-size: 96px;
    line-height: 100px;
    padding-bottom: 99px;
  }
} 

@media screen and (min-width:1278px) {
  .lead__title {
    width: 793px;
    height: 200px;
    font-size: 96px;
    line-height: 100px;
    padding-bottom: 32px;
  }
}

