.intro__title {
  width: 288px;
  height: 175px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 32px;
  font-weight: 900;
  font-style: normal;
  line-height: 35px;
  margin: 0;
}

@media screen and (min-width:766px) {
  .intro__title {
    width: 720px;
    height: 232px;
    font-size: 54px;
    line-height: 58px;
  }
}

@media screen and (min-width:1278px) {
  .intro__title {
    width: 1017px;
    height: 116px;
    font-size: 54px;
    line-height: 58px;
  }
}