.photo-grid {
  width: 288px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 12px;
  box-sizing: border-box;
  padding-top: 30px;
} 

@media screen and (min-width:766px) {
  .photo-grid {
    width: 720px;
    height: 1104px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 0;
  } 
}

@media screen and (min-width:1278px) {
  .photo-grid {
    width: 1184px;
    height: 442px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 0;
  } 
  
}