.place__website {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 288px;
  margin: 0 auto;
  grid-area: header;
  grid-column-start: 2;
}

@media screen and (min-width:766px){
  .place__website {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
  }
}

@media screen and (min-width:1278px){
  .place__website {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    align-self: flex-end;
  }
}
